<a href="https://colab.research.google.com/github/songik/Code_Practice/blob/master/%EC%8B%A4%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **실습1**

In [ ]:
a = input('첫 번째 숫자: ')
b = input('두 번째 숫자: ')

a=int(a)
b=int(b)

print(f'덧셈: {a} + {b} = {a+b}')
print(f'뺄셈: {a} - {b} = {a-b}')
print(f'곱셈: {a} * {b} = {a*b}')
print(f'몫: {a} // {b} = {a//b}')
print(f'나머지: {a} % {b} = {a%b}')

첫 번째 숫자: 50
두 번째 숫자: 3
덧셈: 50 + 3 = 53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 = 150
몫: 50 // 3 = 16
나머지: 50 % 3 = 2

In [ ]:
a = input('속도 : ' )
b = input('거리 : ' )

a = int(a)
b = int(b)
c = b/a

print('속도=', a)
print('거리=', b)
print(f'시간 = {b} / {a} = {c}')

속도 : 200
거리 : 50
속도= 200
거리= 50
시간 = 50 / 200 = 0.25

In [ ]:
a=input("길이 : ")
b=input("너비 : ")

a=int(a)
b=int(b)

c=a*b
d=a*2+b*2

print(f'{a} * {b} = {c}')
print(f'{a}*2 + {b}*2 = {d}')

길이 : 100
너비 : 20
100 * 20 = 2000
100*2 + 20*2 = 240

In [ ]:
a=int(input("길이 : "))
b=int(input("너비 : "))

c=a*b
d=a*2+b*2

print(f'{a} * {b} = {c}')
print(f'{a}*2 + {b}*2 = {d}')

길이 : 100
너비 : 20
100 * 20 = 2000
100*2 + 20*2 = 240

# **실습2**

In [ ]:
m = int(input('금액 : '))

c500 = m // 500
money = m % 500

c100 = money // 100
money = money % 100

c50 = money // 50
money = money % 50

c10 = money // 10
money = money % 10

print(f'500원짜리 ==> {c500}개')
print(f'100원짜리 ==> {c100}개')
print(f'50원짜리 ==> {c50}개')
print(f'10원자리 ==> {c10}개')
print(f'잔돈 ==> {money}원')

금액 : 4321
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원자리 ==> 2개
잔돈 ==> 1원

In [ ]:
m = int(input('돈 : '))

m50000 = m // 50000
money = m % 50000

m10000 = money // 10000
money = money % 10000

m5000 = money // 5000
money = money % 5000

m1000 = money // 1000
money = money % 1000

c500 = money // 500
money = money % 500

c100 = money // 100
money = money % 100

c50 = money // 50
money = money % 50
        
c10 = money // 10
money = money % 10

print(f'지폐 : 50000원 {m50000}장, 10000원 {m10000}장, 5000원 {m5000}장, 1000원 {m1000}장')
print(f'동전 : 500원 {c500}개, 100원 {c100}개, 50원 {c50}개, 10원 {c10}개')
print(f'잔돈 : {money}원')

돈 : 657890
지폐 : 50000원 13장, 10000원 0장, 5000원 1장, 1000원 2장
동전 : 500원 1개, 100원 3개, 50원 1개, 10원 4개
잔돈 : 0원

In [ ]:
x = int(input('숫자 입력 : '))

if x % 2 == 0 :
    print(f'입력된 수 : {x} ===> 짝수')

else :
    print(f'입력된 수 : {x} ===>  홀수')

숫자 입력 : 47
입력된 수 : 47 ===>  홀수

In [ ]:
x = int(input('성적 입력 : '))

if x >  89 :
    print(f'성적 : {x}는 A등급 입니다.')
elif 80 <= x < 90 :
    print(f'성적 : {x}는 B등급 입니다.')
elif 70 <= x < 80 :
    print(f'성적 : {x}는 C등급 입니다.')   
else :
    print(f'성적 : {x}는 D등급 입니다.')

성적 입력 : 79
성적 : 79는 C등급 입니다.

In [ ]:
a = 0

for i in range(1, 11) :
    a = a+i

print(a)

55

In [ ]:
n = int(input('숫자 입력 : '))
h = 0

for i in range(1, n+1) :
    h = h+i

print(f'1 ~ {n}까지의 합은 : {h}')

숫자 입력 : 100
1 ~ 100까지의 합은 : 5050

In [ ]:
n = int(input('숫자 입력 : '))
h = 0

for i in range(1, n+1) :
    if i % 2 == 0 :
        h = h 
    else :
        h = h+i

print(f'1 ~ {n}까지 짝수를 제외한의 합은 : {h}')

숫자 입력 : 100
1 ~ 100까지 짝수를 제외한의 합은 : 2500

In [ ]:
n = int(input('몇 단을 출력할까요? : '))

for i in range(1, 10) :
    p = n * i 
    print(f'{n} x {i} = {p}')

몇 단을 출력할까요? : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
for i in range(2, 10) :
    for k in range(1, 10) :
        p = i * k
        print(f'{i} x {k} = {p}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
#### 추후 다시 확인 

gugudan = ""

for i in range(2, 10) :    
    gugudan = gugudan + ("# %d단  " % i)

print(gugudan)

for i in range(1, 10) :
    gugudan = "" 
    for k in range(2, 10) :
        gugudan = gugudan + str("%dx%d=%2d " % (k, i, k*i))
    print(gugudan)

# 2단  # 3단  # 4단  # 5단  # 6단  # 7단  # 8단  # 9단
2x1= 2 3x1= 3 4x1= 4 5x1= 5 6x1= 6 7x1= 7 8x1= 8 9x1= 9
2x2= 4 3x2= 6 4x2= 8 5x2=10 6x2=12 7x2=14 8x2=16 9x2=18
2x3= 6 3x3= 9 4x3=12 5x3=15 6x3=18 7x3=21 8x3=24 9x3=27
2x4= 8 3x4=12 4x4=16 5x4=20 6x4=24 7x4=28 8x4=32 9x4=36
2x5=10 3x5=15 4x5=20 5x5=25 6x5=30 7x5=35 8x5=40 9x5=45
2x6=12 3x6=18 4x6=24 5x6=30 6x6=36 7x6=42 8x6=48 9x6=54
2x7=14 3x7=21 4x7=28 5x7=35 6x7=42 7x7=49 8x7=56 9x7=63
2x8=16 3x8=24 4x8=32 5x8=40 6x8=48 7x8=56 8x8=64 9x8=72
2x9=18 3x9=27 4x9=36 5x9=45 6x9=54 7x9=63 8x9=72 9x9=81

In [ ]:
i = 1
hap = 0

while i < 101 :
    hap = hap + i
    i = i + 1

print(f'1~100까지의 합은 : {hap}')

1~100까지의 합은 : 5050

In [ ]:
i = 1
hap = 0

while i < 101 :
    if i % 2 == 0 :
        hap = hap + i
        i = i + 1
    else :
        hap = hap
        i = i + 1

print(f'1~100까지의 짝수의 합은 : {hap}')

1~100까지의 짝수의 합은 : 2550

In [ ]:
i = 1
hap = 0

while i < 101 :
    i = i + 1

    if i % 2 == 0 :
        hap = hap + i
    else :
        hap = hap

print(f'1~100까지의 짝수의 합은 : {hap}')

1~100까지의 짝수의 합은 : 2550

In [ ]:
i = 0

while i < 11 :
    i = i + 1

    if i < 11 :
        print(f'나무를 {i}번 찍었습니다.')
        
    if i == 11 :
        print(f'나무 넘어 갑니다~')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어 갑니다~

In [1]:
a = int(input('입력1 : '))
b = int(input('입력2 : '))

print(f'덧셈 : {a} + {b} = {a+b}')
print(f'뺄셈 : {a} - {b} = {a-b}')
print(f'나눗셈 : {a} / {b} = {a/b}')
print(f'몫 : {a} // {b} = {a//b}')
print(f'나머지 : {a} % {b} = {a%b}')
print(f'곱셈 : {a} * {b} = {a*b}')

입력1 : 50
입력2 : 30
덧셈 : 50 + 30 = 80
뺄셈 : 50 - 30 = 20
나눗셈 : 50 / 30 = 1.6666666666666667
몫 : 50 // 30 = 1
나머지 : 50 % 30 = 20
곱셈 : 50 * 30 = 1500

# 실습3

In [3]:
# 랜덤 숫자 
import random


# 1~46까지의 숫자 랜덤으로 생성
def gnlotto() :
    return random.randrange(1, 47)

# 선택될 로또 번호 
def cnlotto() :
    lotto = []

    while True :
        num = gnlotto()
        
        if num not in lotto :   # 중복된 숫자가 없게 추가 
            lotto.append(num)

        if len(lotto) > 5 :      # 총 6개의 숫자 생성 
            break

    return lotto

lotto = cnlotto()
lotto.sort()
print(f'로또 숫자는 {lotto} 입니다.')

로또 숫자는 [2, 3, 6, 13, 22, 37] 입니다.